
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <h1>Quotes</h1>
    <ul>
      <div *ngFor='let quotes of quotes;let i = index'>
          <li appStrikethrough>{{quotes.name}}</li>
          <button  (click)='toogleDetails(i)'>Show Details</button>

          <app-quotes-details *ngIf="quotes.showDescription" [quotes]='quotes'(isComplete)= 'completeQuotes($event,i)'></app-quotes-details>
          
         
</div>
<div class="row">
  <app-quote-form></app-quote-form>
</div> 
<router-outlet></router-outlet>
