<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuotes()' #goalForm='ngForm'>
            <!-- Name Form -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"  class="form-control" id="name" [(ngModel)]="newQuote.username" name="name" #name="ngModel" required>
                
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  
                    
                </div>
            </div>
            <!-- Description Input -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.quote" name="description" #description="ngModel" required></textarea>
                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    
                </div>
                
            </div>
            <!-- Date Input -->
            <div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required >
                <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                    
                </div>
            </div>
            <button type="Submit" class="btn btn-outline-warning">New Quote</button>
        </form>
    </div>
</div>